*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
li{
    display: inline-block;
}

.main{
    width: 50%;
    margin: 0 auto;
}
.li1{
    display: inline-block;
    margin:30px;

}

#logo{    
    width: 70px;
    float: left;
    margin:10px;
   }
.clearfix {
    clear: both;
    overflow: auto;
  }
.center{
    margin:20px;
}
.last{
    float: right;
    margin:30px 20px;
}
.gray{
    color: rgb(88, 88, 88);
    margin-right: 0px;
}
.secoundNav{
    background-color:rgb(1, 176, 219) ;
    height: 50px;
}
.ul2{
    color: white;
}
#last-ul-2{
    float: right;
}
.ul2{
    color: white;
    margin:15px;
}
#last-nav-2{
 float: right;
 font-size: 15px;
}
.caption{
 text-align: center;
 margin:30px;
    
}
h1{
 color:rgb(1, 176, 219) ;   
 text-align: center;
 font-size: 25px;
 margin-bottom: 10px;
 
} 
.gallery{
 margin-left:60px;
}
.photos{
 float:left;
 margin:10px;
 margin-top:0px;
 box-shadow:2px 2px 10px 2px rgb(209, 209, 209);
 border-radius:1%;
 border: 0.5px solid rgb(209, 209, 209);
}
.gallery-pic{
 width:250px;
 height:170px;
 object-fit:cover;
}
.text{
 margin-left:15px;
 padding:5px 0px;
 color: gray;
 font-size:13px;
}
#button{
 margin:20px 420px;
 background-color:rgb(138, 200, 45) ;
 color: white;
 border:none;
 border-radius: 3%;
 box-shadow:1px 1px 5px 2px rgb(209, 209, 209);
 padding: 7px 25px;
}
.nav-3{
    background-color:rgb(1, 176, 219) ;
    height: 50px;   
}
.nav-3-inputs{ 
 margin:13px 40px;
 float: right;
}
#input-button{
 background-color:rgb(138, 200, 45) ;
 color: white;
 border:none;
 box-shadow:1px 1px 5px 2px rgb(29, 142, 170);
 padding: 5px 20px;  
}
.input{
 border:none;    
 padding: 7px 20px; 
 color: gray;  
 font-size: 10px; 
}
#name-input{
 width: 100px;
}
h3{
 float: left;
 color: white;
 margin:15px 50px;
 font-weight: 10;
}
.info-a{
float:left;
margin-top:10px;
margin-left: 50px;
width:25%;
font-size: 13px;
color: gray;
}
.info-b{    
float:left;
margin-top:10px;
margin-left: 50px;
font-size: 13px;
color: gray;   
}
.ol li {
    display: block;
    list-style-type: decimal;
}
#info-b-p{
    color: rgb(63, 63, 63);
    margin-bottom:2p;
    font-size: 13px;
}
.info-c{    
    float:left;
    margin-top:10px;
    margin-left:50px;
    font-size: 13px;
    color: gray;   
    }
.info-d{    
    float:left;
    margin-top:10px;
    margin-left:50px;
    font-size: 13px;
    color: gray;   
        }