.c-navbar-right{
    margin-right: 0%;
    justify-content: flex-end;
}
#hello{
    position: absolute;
    font-size: 70px;
    top: -350px;
    font-family: 'Concert One', cursive;
    text-shadow: 4px 5px 10px black;
}
.c-Tittle-carousel{
    font-size: 40px;
    position: absolute;
    top: -250px;
    left: 0px;
    text-shadow: 4px 5px 10px black;
}
.c-p-carousel{
    position: absolute;
    top: -190px;
    left: 0px;   
    font-size: 20px; 
    text-shadow: 4px 5px 10px black;
}
.c-Tittle3-carousel{
    font-size: 40px;
    text-shadow: 4px 5px 10px black;
}
.c-p3-carousel{
    font-size: 20px; 
    text-shadow: 4px 5px 10px black;
}
.c-subject{
margin: 5% 0%;
text-align: center;
color: gray;

}
#c-underline{
    border-top: 4px solid rgb(68, 68, 68);
    width: 5%;
    margin: 0 auto;

}
.c-subject-p{
    margin-top: 20px;
}
h5{
    font-size:20px;
    padding-top:10px;
}
.c-paragraph{
    text-align: center;
}
.c-last-ul{
    list-style-type: none;
}
.c-circles{
    display: flex;
    justify-content: center;
}