.c-subject{
margin: 5% 0%;
text-align: center;
color: gray;

}
#c-underline{
    border-top: 4px solid rgb(68, 68, 68);
    width: 5%;
    margin: 0 auto;

}
.c-subject-p{
    margin-top: 20px;
}
h5{
    font-size:20px;
    padding-top:10px;
}
.c-paragraph{
    text-align: center;
}